@charset "utf8";
@import url(https://fonts.googleapis.com/css?family=Raleway:400);

*,*:after,
*:before,html
{box-sizing:border-box}
circle.node {
    cursor: pointer;
    stroke: #000;
    stroke-width: .5px;
}
circle.node.directory {
    stroke: #9ecae1;
    stroke-width: 2px;
}
circle.node.collapsed {
    stroke: #555;
}
.nodetext {
    fill: #252929;
    font-weight: bold;
    text-shadow: 0 0 0.2em white;
}
line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}

body{
    background-color: black;
}	

button{
    margin:0;
    border:none;
    outline:none;
    cursor:pointer
}

.button1 {
    background-color: #bacad5;
    width:47.5%;
    border: none;
    color: white;
    padding: 11.51px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button2 {
    background-color: #4F7ADA;
    width:70%;
    border: none;
    color: white;
    padding: 11.51px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.divButton{
    text-align: center;
}

button:focus{background:#808080;color:#000}

button,.home{
    background:transparent;
    padding:14px;
    color:#a3a3a3;
    vertical-align:middle
}

button:hover,.home:hover
{background:#4d4d4d;color:#fff}

button,p,.home
{font-size:14px}

[class*="containerDivTop"]
{display:block;position:relative;float:left}

[class*="contentDivTop"]
{display:none;position:absolute;z-index:10}

.home,#btnMenu,.title
{position:relative;float:left}

#btnMenu,.fa-close,.acc
{display:none}

h1{display:block;position:absolute}

.itemList{
    text-align: center;
}

.divTop{
    width:100%;
    height: 8.6%;	
}
nav{
    background:#0a0a0a;
    width:100%;
    top:0;
    display:block;
    z-index:999
}

.btnList{width:120px}

.contentDivTop_list
{background:#fff;width:250px;top:45px}

.contentDivTop_list.left,
.contentDivTop_list.left:before
{left:0}

.contentDivTop_list.center{left:-65px}

.contentDivTop_list.center:before
{left:50%;transform:translate(-50%,0)}

.contentDivTop_list.right,
.contentDivTop_list.right:before
{right:0}

.contentDivTop_list:before{
    content:"";
    width:8px;
    top:-8px;
    display:block;
    position:absolute;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:8px solid #fff
}

.containerDivTop_right{float:right}

.contentDivTop_search
{background:#000;top:0;right:40px}

@media (max-width:683px){
    #btnMenu{display:block}
    .containerDivTop_menu{display:none}
    .containerDivTop_list{width:100%}

    .btnList
    {width:100%;box-shadow:0 2px 2px -2px #333}

    .drop{display:none;
    }
    .acc{display:inline-block}

    .contentDivTop_list{
        width:100%;
        top:0;
        position:relative;
        float:left
    }

    .contentDivTop_list.left,
    .contentDivTop_list.center,
    .contentDivTop_list.right
    {left:0;right:0}

    .contentDivTop_list.left:before,
    .contentDivTop_list.center:before,
    .contentDivTop_list.right:before
    {left:50%;transform:translate(-50%,0)}

    .show_menu{
        background:#1a1a1a;
        width:100%;
        top:45px;
        display:block;
        position:absolute
    }
}

.title
{width:100%;min-height:100%;display:block}

h1{
    width:100%;
    top:50%;
    left:0;
    margin:0;
    padding:0 8px;
    font-size:30px;
    color:#fff;
    transform:translate(0,-50%)
}

[class*="show"]{display:block}

.show_list
{padding:20px 0;animation:height 1s ease}

@keyframes height{
    from{padding:0;opacity:0}
    to{padding:20px 0;opacity:1}
}

.show_search form
{width:150px;padding:6px;animation:width 1s ease}

@keyframes width{
    from{width:0;opacity:0}
    to{width:150px;opacity:1}
}

.visible{display:inline-block}
.hidden{display:none}



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Raleway-Black;
    src: url('../fonts/raleway/Raleway-Black.ttf'); 
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url('../fonts/raleway/Raleway-SemiBold.ttf'); 
}

@font-face {
    font-family: Raleway-Bold;
    src: url('../fonts/raleway/Raleway-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Raleway-SemiBold, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Raleway-SemiBold;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    display: relative;  
    font-family: Raleway-SemiBold;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}

.inputFormat{
    outline: none;
    border: none;

}

textarea:focus, input:focus {
    border-color: transparent !important;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

.divBody {
    width: 100%;
    height: 80%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.divMaster {
    z-index:11;
    max-width: 480px;
    background: #fff;
    border-radius: 3px;
    padding: 30px 22px 30px 22px;
    position: absolute;
}

#divVisualization {
    top: 260px;
    width: 570px;
    height: 570px;
    background: #ffffff00;
    border-radius: 20px;
    padding: 8px 8px 8px 8px;
    position: absolute;
    margin-bottom: 20px;

}

#labelNodes {
    top: 840px;
    width: 570px;
    height: 90px;
    background: #ffffff00;
    border-radius: 20px;
    padding: 8px 8px 8px 8px;
    position: absolute;
    margin-bottom: 20px;

}

#divChoice {
    top:80px;
    width: 570px;
    height: 160px;
    background: #ffffff87;
    border-radius: 20px;
    padding: 8px 8px 8px 8px;
    position: absolute;
}

#divInputChoice {
    width: 554px;
    height: 144px;
    background: #f3f3f3;
    padding: 8px 8px 8px 8px;
    position: absolute;
}

#divFunction {
    max-width: 480px;
    background: #fff;
    border-radius: 3px;
    z-index:10;
    display:open;
    position:absolute;
    padding:10px;
    border:1px solid #d0d0d0;
}

#addedI{
    max-height: 300px; 
    overflow: auto;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titleSection {
    display: block;
    width: 100%;
    font-family: Raleway-Black;
    font-size: 17px;
    color: #333333;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 17px;
}

.prevent-click {
    pointer-events: none;
}

/*------------------------------------------------------------------
[ Input ]*/

.divInput {
    width: 100%;
    position: relative;
    background-color: transparent;
    margin-bottom: 5px;
}

.rs1-wrap-input100 {
    width: calc((100% - 30px) / 2);
}

.inputName {
    font-family: Raleway-SemiBold;
    font-size: 14px;
    color: #555555;
    line-height: 1.5;
}

.input1 {
    display: block;
    width: 98%;
    background: #f2f2f2;
    border-radius: 2px;

    font-family: Raleway-SemiBold;
    font-size: 15px;
    color: #686868;
    line-height: 1.2;
    padding: 0 28px;

    margin-top: 10px;
}

.input2 {
    display: block;
    width: 86%;
    background: #f2f2f2;
    border-radius: 2px;

    font-family: Raleway-SemiBold;
    font-size: 15px;
    color: #686868;
    line-height: 1.2;
    padding: 0 28px;

    margin-top: 10px;
}

.input3 {
    display: relative;
    width:47.5%;
    background: #f2f2f2;
    border-radius: 2px;

    font-family: Raleway-SemiBold;
    font-size: 15px;
    color: #686868;
    line-height: 1.2;
    padding: 0 28px;

    margin-top: 10px;
}

.input4 {
    display: block;
    width: 86%;
    border-radius: 2px;
    background: #f2f2f2;
    font-family: Raleway-SemiBold;
    font-size: 15px;
    line-height: 1.2;
    padding: 10px 28px;
    margin-top: 10px;

    height: 43px;

}

.input5 {
    display: relative;
    width: 42.3%;
    background: #f2f2f2;
    border-radius: 2px;

    font-family: Raleway-SemiBold;
    font-size: 15px;
    color: #686868;
    line-height: 1.2;
    padding: 0 28px;

    margin-top: 10px;
}

.input6 {
    display: relative;
    width: 42.3%;
    background: #f2f2f2;
    border-radius: 2px;

    font-family: Raleway-SemiBold;
    font-size: 15px;
    color: #686868;
    line-height: 1.2;
    padding: 13px 28px;

    margin-top: 10px;
}

.input7 {
    display: relative;
    width: 23%;
    background: #f2f2f2;
    border-radius: 2px;

    font-family: Raleway-SemiBold;
    font-size: 15px;
    color: #686868;
    line-height: 1.2;
    padding: 0 5px;

    margin-top: 10px;
}
.input8 {
    display: relative;
    width: 12%;
    background: #f2f2f2;
    border-radius: 2px;

    font-family: Raleway-SemiBold;
    font-size: 15px;
    color: #686868;
    line-height: 1.2;
    padding: 0 5px;

    margin-top: 10px;
}

.input9 {
    display: relative;
    width: 48.5%;
    background: #f2f2f2;
    border-radius: 2px;

    font-family: Raleway-SemiBold;
    font-size: 15px;
    color: #686868;
    line-height: 1.2;
    padding: 13px 28px;

    margin-top:10px;
}

.input10 {
    display: relative;
    width: 95%;
    background: white;
    border-radius: 2px;
    height: 43px;

    font-family: Raleway-SemiBold;
    font-size: 15px;
    color: #686868;
    line-height: 1.2;
    padding: 0 28px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.input11 {
    display: relative;
    width: 88%;
    height: 43px;
    background: #ffffff;
    border-radius: 2px;

    font-family: Raleway-SemiBold;
    font-size: 15px;
    color: #686868;
    line-height: 1.2;
    padding: 0 28px;

}

.inputFormat2{
    padding: 10px 28px 10px 28px; 
    margin-bottom:10px;
}

strong.thick {
    font-size: 15px;
    font-family: Raleway-Black;  
}

.mod1{
    width:74%;
}	

.iconMore{
    position: absolute;
    bottom: 0;
    right: 7px;
}
.iconMore2{
    position: absolute;
    bottom: 0;
    right: 62px;
}

.iconGetChildren{
    position: absolute;
    bottom: 0;
    right: 16px;
}

.iconDelete{
    position: absolute;
    right: 7px;

}

.inputSelect {
    display: relative;
    width: 86%;
    background: #f2f2f2;
    border-radius: 2px;

    font-family: Raleway-SemiBold;
    font-size: 15px;
    color: #686868;
    line-height: 1.2;
    padding: 0 28px;

    margin-top: 10px;
}

.inputSelect2 {
    display: relative;
    width: 98%;
    background: #f2f2f2;
    border-radius: 2px;

    font-family: Raleway-SemiBold;
    font-size: 15px;
    color: #686868;
    line-height: 1.2;
    padding: 0 28px;

    margin-top: 10px;
}

.space1{
    margin-right: 10px;

}	

/*---------------------------------------------*/
span.input2 {
    height: 43px;
}

input.input2 {
    height: 43px;
}

select.input2 {
    height: 43px;
}

input.input3 {
    height: 43px;
}

select.input3 {
    height: 43px;
}

input.input4 {
    height: 43px;
}

input.input5 {
    height: 43px;
}

input.input7 {
    height: 43px;
}

span.input7 {
    height: 43px;
}

select.input8 {
    height: 43px;
}

span.input5 {
    height: 43px;
}

select.input9 {
    height: 43px;
}

select.input5 {
    height: 43px;
}

textarea.input1 {
    min-height: 162px;
    padding-top: 19px;
    padding-bottom: 13px;
}

.input1:focus {
    background: #e6e6e6;
}

select.inputSelect {
    height: 43px;
}
select.inputSelect2 {
    height: 43px;
}



/*------------------------------------------------------------------
[ Button ]*/
.divBtnForm {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}

.btnForm {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 2px;
    overflow: hidden;
}

.nextDiv {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #002ce9;
    top: 0;
    left: -100%;

}

.nextB {
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 62px;

    font-family: Raleway-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
}

.btnForm:hover .contact100-form-bgbtn {
    left: 0;
}

select{
    text-align-last:center;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 768px) {
    .rs1-wrap-input100 {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .divMaster {
        padding: 66px 15px 59px 15px;
    }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.format-input {
    position: relative;
}


.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}


/*==================================================================
[ Contact more ]*/

.contact100-more {
    display: block;
    max-width: 960px;
    font-family: Raleway-SemiBold;
    font-size: 20px;
    color: #fff;
    line-height: 1.4;
    text-align: center;
    padding: 40px 0 10px 0;
}




