<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CreateTopicController</servlet-name>
        <servlet-class>module2.controller.CreateTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllUnitController</servlet-name>
        <servlet-class>module2.controller.GetAllUnitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FunctionController</servlet-name>
        <servlet-class>module2.controller.FunctionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetContextListController</servlet-name>
        <servlet-class>module2.controller.SetContextListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetContextListController</servlet-name>
        <servlet-class>module2.controller.GetContextListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetChildrenController</servlet-name>
        <servlet-class>module2.controller.GetChildrenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetPragmaticRulesController</servlet-name>
        <servlet-class>module2.controller.SetPragmaticRulesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save</servlet-name>
        <servlet-class>module2.controller.Save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateIoTController</servlet-name>
        <servlet-class>module2.controller.CreateIoTController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetIoTController</servlet-name>
        <servlet-class>module2.controller.SetIoTController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTMCController</servlet-name>
        <servlet-class>module2.controller.GetTMCController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TesteController</servlet-name>
        <servlet-class>module2.controller.TesteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetUnitController</servlet-name>
        <servlet-class>module2.controller.SetUnitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizationController</servlet-name>
        <servlet-class>module2.controller.VisualizationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetJsonOfTopicController</servlet-name>
        <servlet-class>module2.controller.GetJsonOfTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDescriptionsController</servlet-name>
        <servlet-class>module2.controller.GetDescriptionsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSimilarTopicsController</servlet-name>
        <servlet-class>module2.controller.GetSimilarTopicsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAlternativeTopicController</servlet-name>
        <servlet-class>module2.controller.GetAlternativeTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchIoTsController</servlet-name>
        <servlet-class>module2.controller.SearchIoTsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTopicsController</servlet-name>
        <servlet-class>module2.controller.SearchTopicsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateTopicController</servlet-name>
        <url-pattern>/CreateTopicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllUnitController</servlet-name>
        <url-pattern>/GetAllUnitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FunctionController</servlet-name>
        <url-pattern>/FunctionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetContextListController</servlet-name>
        <url-pattern>/SetContextListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetContextListController</servlet-name>
        <url-pattern>/GetContextListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChildrenController</servlet-name>
        <url-pattern>/GetChildrenController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetPragmaticRulesController</servlet-name>
        <url-pattern>/SetPragmaticRulesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save</servlet-name>
        <url-pattern>/Save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateIoTController</servlet-name>
        <url-pattern>/CreateIoTController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetIoTController</servlet-name>
        <url-pattern>/SetIoTController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTMCController</servlet-name>
        <url-pattern>/GetTMCController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TesteController</servlet-name>
        <url-pattern>/TesteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetUnitController</servlet-name>
        <url-pattern>/SetUnitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizationController</servlet-name>
        <url-pattern>/VisualizationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetJsonOfTopicController</servlet-name>
        <url-pattern>/GetJsonOfTopicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDescriptionsController</servlet-name>
        <url-pattern>/GetDescriptionsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSimilarTopicsController</servlet-name>
        <url-pattern>/GetSimilarTopicsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAlternativeTopicController</servlet-name>
        <url-pattern>/GetAlternativeTopicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchIoTsController</servlet-name>
        <url-pattern>/SearchIoTsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTopicsController</servlet-name>
        <url-pattern>/SearchTopicsController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
